node_modules
mongoose.connect(
  process.env.MONGODB_URI ||
    "mondodb://mongodb://pumpitup:pumpitup1@ds041678.mlab.com:41678/heroku_sg6gsl3b",
  {
    useMongoClient: true,
  }
);
mongoose.connect(MONGODB_URI);
mongoose.connect("mongodb://localhost/dbWorkout", {
  useNewUrlParser: true,
  useFindAndModify: false,
});